.operating-btn-wrap{width: 98% !important;}
.operating-btn-wrap ul{border: none !important; padding: 0 !important;}
.ui-helper-hidden-accessible{display: none !important;}
.fetch-data{width: 30%; margin-right: 5% !important;}
.user-photo {width: 30%; margin: 70px 5% 0 0; text-align: center;}
.deposit-data{width: 30%;}